.container {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 50px;
    justify-content: center;
    align-items: center;
    height: 120%;
    margin-bottom: 20px;
}

.cards__characters {
    background: gray;
    height: 16rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 8px;
    color: gainsboro;
    font-weight: bold;
}

.card-name {
    margin-top: 15px;
    font-size: 1.2rem;
}

.card-image {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 5px solid pink;
  margin-top: 20px;
  transition: 1s;
}

.card-image:hover {
    box-shadow: 0 10px 50px palevioletred;
}

.title {
   text-align: center;
   color: pink;
   font-size: 2rem;
   text-shadow: 0 0 3px;
   margin: 2%;
}

/*Responsive*/

@media (max-width: 768px) {
    .container {
        display: block;
        align-items: center;
        margin: 0 1.2 rem;
    }

    .cards__characters {
        margin-bottom: 2em;
    }
}