.users {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-users {
    border-collapse: collapse;
    margin: 50px 0;
    font-size: 1em;
    width: 80%;
    box-shadow: 0 0 5px pink;
}

.table-users thead tr {
    background-color: gray;
    color: #fff;
    text-align: left;
}

.table-users th, .table-users td {
    padding:10px 10px;
}

.table-users tbody tr:hover {
    color: pink;
    text-shadow: 0 0 5px pink;
}

.table-users tbody tr {
    border-bottom: 1px solid grey;
    background-color: rgba(77, 77, 92, 0.6);
    color: #fff;
    font-weight: 500;
}

.title {
    margin: 1%;
    color: pink;
    font-size: 2rem;
}